<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Random Studio Lunch Sign-up</title>
    </head>
        <nav>
            <ul>
                <li><a href="/planning">Planning</a></li>
                <li><a href="/sign-up">Lunch sign-up</a></ul>
            </ul>
        </nav>
    <body>
