<!DOCTYPE html>
<html lang="en">
<!--loader-->

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Random Studio Lunch Sign-up</title>

        <!-- Link to the stylesheet -->
        <link rel="stylesheet" href="/style.css">

        <!-- Link to the sign-up stylesheet -->
        <link rel="stylesheet" href="/sign-up.css">

        <!-- Link to Fontawesome -->
        <script src="https://kit.fontawesome.com/dbf182c521.js" crossorigin="anonymous"></script>

        <!-- Link to the script -->
        <script src="/script.js" defer></script>

        <!-- Link to the sign-up script -->
        <script src="/sign-up.js" defer></script>
    </head>

    <body>
        <nav class="main-nav">
            <ul>
<li><a href="/day-schedule" class="menu-item" >Schedule</a></li>
                <li><a href="/sign-up" class="menu-item" >Lunch sign-up</a></ul>
                <a href="/"><img class="logo" src="random-studio.png" alt="Logo Random Studio" width="220px" height="100%"></a>
            </ul>
        </nav>