<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Random Studio Lunch Sign-up</title>

        <!-- Link to the stylesheet -->
        <link rel="stylesheet" href="/style.css">

        <!-- Link to the stylesheet -->
        <link rel="stylesheet" href="/sign-up.css">

        <!-- Link to the script -->
        <script src="/script.js" defer></script>
    </head>
        <nav>
            <ul>
                <li><a href="/dagplanning">Planning</a></li>
                <li><a href="/sign-up">Lunch sign-up</a></ul>
            </ul>
        </nav>
    <body>
