<%- include('./partials/head.ejs') %>

<main>
  <nav class="day-week-month-nav">
    <ul>
      <li class="day-underline"><a href="/day-schedule">Day</a></li>
      <li><a href="/week-schedule">Week</a></li>
      <li><a href="/month-schedule">Month</a></li>
    </ul>
  </nav>

  <section class="todays-date">
    <p>Todays date</p>
    <p>15</p>
  </section>

  <div day-section class="container-days">
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <p day-p>Alle data namen voor maandag</p>
    <button class="plus-button">+</button>
  </div>
</main>

<%- include('./partials/foot.ejs') %>
