<%- include('./partials/head.ejs') %>

<main>
  <nav class="day-week-month-nav">
    <ul>
      <li class="day-underline"><a href="/day-schedule">Day</a></li>
      <li><a href="/week-schedule">Week</a></li>
      <li><a href="/month-schedule">Month</a></li>
    </ul>
  </nav>

  <section class="todays-date">
    <div class="date-formate">Wednesday, June 21</div>
    <p>15</p>
  </section>

  <div day-section class="container-days">
    <p day-p>Marijn</p>
    <p day-p>Clara</p>
    <p day-p>Kyeongrok</p>
    <p day-p>Finn</p>
    <p day-p>Greta</p>
    <p day-p>Steve</p>
    <p day-p>Hugo</p>
    <p day-p>Sean</p>
    <a href="/sign-up"><button class="plus-button">+</button></a>
  </div>
</main>

<%- include('./partials/foot.ejs') %>
