<%- include('./partials/head.ejs') %>

<main>
    <nav class="day-week-month-nav">
        <ul>
            <li class="day-underline"><a href="/day-schedule">Day</a></li>
            <li><a href="/week-schedule">Week</a></li>
            <li><a href="/month-schedule">Month</a></li>
        </ul>
    </nav>

    <section class="todays-date">
        <div class="date-formate">Thursday, June 22</div>
        <p>15</p>
    </section>

    <div day-section class="container-days">
        <% if (day === "Thursday" && personsThursday && personsThursday.length > 0) { %> <% personsThursday.forEach(function(person) { %>
        <p day-p><%= person.name + ' ' + person['last-name'] %></p>
        <% }); %>
        <a href="/sign-up"><button class="plus-button">+</button></a>
        <% } else { %>
        <p>No persons available on Thursday.</p>
        <% } %>
    </div>
</main>

<%- include('./partials/foot.ejs') %>
