<%- include('./partials/head.ejs') %>

<main>
    <h1>When will you join us for lunch?</h1>
    <button>
        <a href="/login" class="sign-up-btn">Sign up</a>
    </button>
</main>

<%- include('./partials/foot.ejs') %>
