<%- include('./partials/head.ejs') %>

<main>
  <nav class="day-week-month-nav">
    <ul>
      <li>Day</li>
      <li>Week</li>
      <li>Month</li>
    </ul>
  </nav>
</main>

<%- include('./partials/foot.ejs') %>
