<%- include('./partials/head.ejs') %>

<main>
  <nav class="day-week-month-nav">
    <ul>
      <li><a href="/day-schedule">Day</a></li>
      <li><a href="/week-schedule">Week</a></li>
      <li><a href="/month-schedule">Month</a></li>
    </ul>
  </nav>
</main>

<%- include('./partials/foot.ejs') %>
