/* FONT */
@font-face {
  font-family: Roboto;
  src: url(./Roboto-Light.ttf);
}

:root {
  /* CUSTOM PROPERTIES */
  --white: #fbfbfb;
  --light-gray: #d2d2d2;
  --middle-gray: #abaaac;
  --dark-gray: #5f5f64;
  --black: #222222;

  /* Font Family */
  --body-font: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--body-font);
  background-color: var(--white);
}

/* Navigation */
.logo {
  width: 220px;
  margin-top: -3em;
}

.menu-item {
  list-style-type: none;
  text-decoration: none;
  font-size: 1em;
}

a:link {
  text-decoration: none;
}

a {
  color: var(--black);
}

nav > ul {
  font-style: var(--black);
  font-size: 1em;
  list-style-type: none;
  font-family: montserrat, sans-serif;
  padding: 2em;
  position: relative;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 3em;
}

li {
  padding-bottom: 0.5em;
}

.day-underline {
  text-decoration: underline;
}

.week-underline {
  text-decoration: underline;
}

.month-underline {
  text-decoration: underline;
}

/* Homepage */
h1 {
  font-family: montserrat, sans-serif;
  font-style: var(--black);
  padding: 1em;
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
}

.sign-up-btn {
  font-family: montserrat, sans-serif;
  font-style: var(--black);
  padding: 1.5em;
  font-size: 1em;
  font-weight: 500;
  background-color: var(--white);
  border: 1px solid black;
  color: var(--black);
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1em;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* day-schedule */
.day-week-month-nav {
  width: 100vw;
  font-size: 1.3em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.day-week-month-nav > ul {
  font-style: var(--black);
  list-style-type: none;
  font-family: montserrat, sans-serif;
  padding: 1em;
  display: flex;
  justify-content: center;
  gap: 3em;
}

/* week schedule */
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding-left: 25%;
  gap: 5px;
  padding: 0em;
}

.tab {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  width: 80px;
  height: 80px;
}

.tab.active {
  background-color: var(--black);
  color: var(--white);
}

.tab:hover {
  background-color: #aaa;
}

.tab-content {
}

[week-section] {
  display: flex;
  justify-content: center;
  font-family: montserrat, sans-serif;

  font-style: var(--black);
  font-size: 1em;
  list-style-type: none;
  font-family: montserrat, sans-serif;
  padding: 1em;
  position: relative;
  line-height: 27px;
}

[week-p] {
  cursor: pointer;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  width: 250px;
  height: 80px;

  font-style: var(--black);
  list-style-type: none;
  font-family: montserrat, sans-serif;
  padding: 1em;
  justify-content: center;
  gap: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* MEDIA QUERY */
@media only screen and (min-width: 960px) {
  /* Navigation */
  nav {
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .logo {
    width: 220px;
    margin-top: 0em;
  }

  li {
    color: var(--black);
    text-decoration: none;
  }

  ul {
    font-style: var(--black);
    list-style-type: none;
    font-family: montserrat, sans-serif;
    padding: 1em;
    display: flex;
    gap: 3em;
    margin-top: 30px;
  }

  /* Homepage */
  h1 {
    font-family: montserrat, sans-serif;
    font-style: var(--black);
    padding-top: 3em;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
  }

  .sign-up-btn {
    font-family: montserrat, sans-serif;
    font-style: var(--black);
    padding: 1.5em;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--white);
    border: 1px solid black;
    color: var(--black);
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .tabs {
    margin-top: 0;
  }
}
